.App {
  text-align: center;
}

.App-header {

  
  width: 100%; 
  height: 155px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('./fifa.png');
  box-shadow: 0px 1px #1d1c1c;

}

.App-header img{ 

  width: 800px;
  
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 

.theCards {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.playerCard {

  height: 175px;
  width: 250px;
  border: #978df1 solid .5px;
  margin: 5px 5px 5px 5px; 
  box-shadow: 1px 3px #888888;
  background-color: whitesmoke;
  color:rgb(213, 224, 228);
  text-shadow:
		-.25px -.25px 0 #000,
		.25px -.25px 0 #000,
		-.25px .25px 0 #000,
    .25px .25px 0 #000;
    border-radius: 12px;
    background-image: url('https://miro.medium.com/max/2732/1*FjFHlDGH-aGPUesHfjmrqA.jpeg');

    
}

.playerCard a{

  text-decoration: none;

}

.playerCard :hover {

  color:rgb(68, 193, 238);
  
 
}


.buttonDiv {

  width: 100%;
  height: 25px;

  margin: 10px 0px 10px 0px;

}

#darkbtn {

  width: 125px;
  height: 30px;

  border-radius: 8px; 
  color: whitesmoke;
  background-color:#23207C;
  box-shadow: .5px 2px #888888;
}

